body{
    --bs-body-font-size:18px;
    color:hsl(0,0%,98%);
}
.navbar-brand{
    margin-left: 2rem;
}
@media(max-width:768px){
    
#Navbar-Content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    color: hsl(0,0%,41%);
    flex-wrap: wrap;
    
}
#Btn2,#Btn1{
    padding-left: 75px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;

    
}
/*app body css*/
#desktop{
    display: none;
}
#mobile{
    max-width: 100%;
    margin-top:3rem;
    margin-bottom: 3rem;
}
#remote{
    text-align: center;
    font-weight: 700;
    flex-grow: 5;
    font-size: xx-large;
    margin-bottom: 2rem;
}
#content{
    font-size: 18px;
    font-weight: 500;
    color: hsl(0,0%,41%);
    text-align: center;
    margin-bottom: 2rem;
}
#learn{
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 1.5rem;
    padding-top: .7rem;
    padding-bottom: .7rem;

    flex-grow: 4;
    border-radius: 1rem;
    --bs-btn-font-size:18px;
    --bs-btn-color:hsl(0,0%,98%);
    --bs-btn-font-weight:500;
}
#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#client-img{
    display: flex;
    max-width: 65%;
    align-items: center;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}
.clientimg{
    max-width: 30%;
    height: 55%;
    margin: 0.6rem;
}
/* end */
#NavBtns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    align-self: stretch;
    text-align:end;

}
button{
    --bs-btn-padding-y: 5rem;
    --bs-btn-padding-x: 5rem;
}
.navbar-nav.btn{
    text-align: center;
}
}



.navbar-toggler{
    --bs-border-width:0px;
}
.nav-link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.navbar-nav{
    align-items: flex-start;
    margin-right: .5rem;
    //padding: 20px;
    border: none;
}
#Nav-Items1,#Nav-Items2{
    --bs-dropdown-border-color:none;
}
button{
    flex-wrap: nowrap;
}
.offcanvas.offcanvas-end{
    --bs-offcanvas-width: 70%;
}

ul#NavBtns{
    display: flex;
}
#NavBtns{
    align-items: center;
    font-size: 18px;
    /* color: hsl(0,0%,41%); */
    justify-content: center;
    align-self: center;
}
.navbar-nav.btn{
    --bs-btn-color:hsl(0,0%,41%);
}

#Nav-Items.dropdown-menu.dropdown-menu-sm-end.show{
    display: inline-block;
    flex-direction: column;
}

.navbar-nav.btn{
        --bs-btn-padding-y:1rem;
        --bs-btn-padding-x:1rem;
        --bs-btn-font-size:18px;
        --bs-btn-color:hsl(0,0%,41%);
        --bs-btn-active-color:hsl(0,0%,8%);
        --bs-btn-active-bg:transparent;
        --bs-btn-hover-bg:transparent
    }
.navbar-nav.btn.btn-outline-dark{
        --bs-btn-border-color:hsl(0,0%,41%);
        --bs-btn-padding-y:10px;
        --bs-btn-padding-x:50px;
        padding-left: 50px;
        
        --bs-btn-font-size:18px;
        --bs-btn-color:hsl(0,0%,41%);
        
        --bs-btn-hover-color:hsl(0, 0%, 8%);
       --bs-btn-active-color:hsl(0,0%,8%);
        
        --bs-btn-hover-bg:transparent;
        --bs-btn-active-bg:hsl(0,0%,98%);
}
    
@media (min-width: 1024px) {
    #NavBtns{
        margin-left: 50%;
    }
    
    .navbar-nav{
        margin-left: .5rem;
        align-items: center;
        justify-content: space-evenly;
    }
    .navbar-nav.d-flex{
        display: flex;
    }
    #NavBar-Content{
        display: flex;
        
        
    }

    #mobile{
        display: none;
    }
    #main{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

#desktop{
    padding-top:10px;
    max-width:80%;
}

#remote{
    align-self:flex-start;
    font-weight:700;
    font-size:90px;
    padding-top:10px;
}
#content{
    align-self:flex-start;
    padding-top:30px;
    padding-bottom:30px;
    font-weight:500;
    color:hsl(0, 0%, 41%);
    font-size:18px;
}
#one{
    margin:65px;
    display:flex;
    flex-direction:column;
    
}

#learn{
align-self:center;
--bs-btn-padding-y:10px;
--bs-btn-padding-x:15px;
--bs-btn-font-size:18px;
--bs-btn-color:hsl(0,0%,98%);
--bs-btn-font-weight:500;
}
#client-img{
    padding:10px;
    padding-top:5rem;
    display:flex;
    justify-content:space-evenly;
    align-content:center;
    align-items:center;
}
}

